# Lập trình thống kê R - Bài  4: Dataframe 

### BS.  Lê Ngọc Khả Nhi


## Nhập đề

Lần trước ở bài 2, chúng ta đã tìm hiểu về matrix và vai trò quan trọng của nó khi làm thống kê bằng ngôn ngữ R. Bài hôm nay sẽ giới thiệu một cấu trúc dữ liệu 2 chiều khác tương tự matrix nhưng với tính năng linh hoạt hơn khi cho phép chứa nhiều kiểu dữ liệu khác nhau - đó là dataframe. 

Trước khi bắt đầu, Nhi muốn chú thích thêm vài điều. 

Do R được tạo ra cho ứng dụng thống kê, một cấu trúc tiện lợi như dataframe đã được dọn sẵn ngay từ đầu - nếu bạn làm thống kê bằng ngôn ngữ Python sẽ thấy khoảng cách khá xa giữa những cấu trúc dữ liệu cơ bản cho lập trình (tuple, list, dictionary...) và những cấu trúc cao cấp hơn cho thống kê/tính toán như array của numpy, Series và dataframe của pandas. 

Dataframe không chỉ đơn giản là một bảng trình bày dữ liệu: Hầu hết các bạn bác sĩ khi tiếp xúc với ngôn ngữ R đều đã sử dụng qua các phần mềm thống kê có giao diện dạng bảng như Excel, SPSS Medcalc..., vì vậy một cách tự nhiên chúng ta quy đồng khái niệm "dữ liệu" và hình ảnh "bảng tính" - trên cái bảng này chúng ta vừa nhập liệu, vừa tính toán. Thực ra, khi làm việc bằng dòng lệnh với ngôn ngữ R, nội dung dữ liệu không phải luôn được bày ra trước mắt, mà được chứa trong những object khác nhau. Ngay cả khi dùng giao diện Rstudio, object dữ liệu không bắt buộc là bảng, mà có thể là vector, matrix, dataframe hay list.

Tuy dataframe thường được R tự động dọn sẵn mỗi khi bạn tải dữ liệu vào R, và đa số trường hợp bạn sẽ làm thống kê, dựng mô hình mà không phải bận tâm về cấu trúc bên dưới; nhưng nếu hiểu rõ bản chất dataframe, ta sẽ kiểm soát object này như một công cụ, chủ động tạo ra nó khi cần, thay đổi và khai thác nó hiệu quả bằng cách viết code, thậm chí không cần nhìn vào bên trong.


## Tạo dataframe

Để học tốt cấu trúc dữ liệu, ta nên quan tâm đến công dụng thiết thực mà nó mang lại (nó có tính năng gì ? dùng trong hoàn cảnh nào) chứ không phải chỉ thuộc những quy luật máy móc. Ta sẽ đi theo hướng này với dataframe trong R:

Giả định ta có 4 vector chứa 4 loại dữ liệu khác nhau : character, integer, float number và Boolean như sau:

In [1]:
set.seed(12345)

Chr_Var = paste('P',rep(1:20),sep='')
Int_Var = sample(50:80,20,replace=T)
Float_Var = rnorm(20,5,2)
Bool_Var = Float_Var < 6

Nếu cần kết hợp 4 vectors này để tạo thành một bảng dữ liệu, ta có thể dùng matrix ? về hình thức thì được, nhưng khi nhìn vào nội dung matrix này, ta sẽ thấy tất cả dữ liệu đều bị chuyển thành kiểu "character", tức là hoàn toàn vô dụng vì không thể tính toán:

In [2]:
m = matrix(c(Chr_Var,Int_Var,Float_Var, Bool_Var),ncol = 4)

head(m)

class(m)

str(m)

     [,1] [,2] [,3]             [,4]
[1,] P1   63   8.63462408740843 FALSE
[2,] P2   68   5.74125572851591 TRUE
[3,] P3   65   6.04043291510991 FALSE
[4,] P4   75   3.49893601099534 TRUE
[5,] P5   77   6.63379967904117 FALSE
[6,] P6   73   3.22728495751357 TRUE

[1] "matrix"

 chr [1:20, 1:4] "P1" "P2" "P3" "P4" "P5" "P6" "P7" "P8" "P9" "P10" "P11" ...

Chính vì matrix chỉ chứa được 1 kiểu dữ liệu đồng nhất, ta cần một cấu trúc linh hoạt hơn - đó là dataframe. Về hình thức dataframe hoàn toàn tương đương với matrix, nhưng tính năng của nó được mở rộng, cho phép các cột chứa nhiều kiểu dữ liệu khác nhau (dĩ nhiên trong cùng 1 cột vẫn phải đồng nhất).

dataframe được tạo ra bằng hàm data.frame():

In [3]:
d = data.frame(Chr_Var, Int_Var, Float_Var, Bool_Var)

class(d)

head(d)

[1] "data.frame"

  Chr_Var Int_Var Float_Var Bool_Var
1 P1      63      8.634624  FALSE
2 P2      68      5.741256   TRUE
3 P3      65      6.040433  FALSE
4 P4      75      3.498936   TRUE
5 P5      77      6.633800  FALSE
6 P6      73      3.227285   TRUE

##  Dùng factor hay character ?

Ở trên Nhi có dùng hàm str() để khảo sát cấu trúc của matrix, đây là một hàm rất hữu ích mà các bạn mới học R cần ghi nhớ, nó áp dụng cho mọi object trong R. Khi dùng str() cho dataframe, kết quả cho ta biết kiểu dữ liệu của từng cột:

In [10]:
str(d)

'data.frame':	20 obs. of  4 variables:
 $ Chr_Var  : Factor w/ 20 levels "P1","P10","P11",..: 1 12 14 15 16 17 18 19 20 2 ...
 $ Int_Var  : int  63 68 65 75 77 73 75 78 60 73 ...
 $ Float_Var: num  8.63 5.74 6.04 3.5 6.63 ...
 $ Bool_Var : logi  FALSE TRUE FALSE TRUE FALSE TRUE ...

Ta chú ý một chi tiết ở đây, đó là hàm data.frame đã tự động chuyển vector Chr_Var thành class Factor, đây là tính năng mặc định. Nếu bạn muốn giữ nguyên bản chất character cho dữ liệu, chỉ cần thay đổi argument stringsAsFactors = F:

In [4]:
d = data.frame(Chr_Var, Int_Var, Float_Var, Bool_Var, 
               stringsAsFactors = F)

str(d)

'data.frame':	20 obs. of  4 variables:
 $ Chr_Var  : chr  "P1" "P2" "P3" "P4" ...
 $ Int_Var  : int  63 68 65 75 77 73 75 78 60 73 ...
 $ Float_Var: num  8.63 5.74 6.04 3.5 6.63 ...
 $ Bool_Var : logi  FALSE TRUE FALSE TRUE FALSE TRUE ...

## Tên cột (biến) trong dataframe

Trong thí dụ trên, chắc bạn có thể hình dung về cơ chế của hàm data.frame: các object (vector) ngăn cách bằng dấu ',' sẽ được sắp xếp vào dataframe theo thứ tự, mỗi object sẽ trở thành 1 cột của dataframe mang tên của object đó. 

Điều gì sẽ xảy ra khi ta tạo dataframe đồng thời với việc tạo dữ liệu (on the fly) mà không thông qua objects: việc đặt tên cho cột sẽ trở nên máy móc và kết quả không hay chút nào:

In [5]:
d = data.frame(c(1,2,3,4,5),
               rnorm(5,1,0.5))

d

  c.1..2..3..4..5. rnorm.5..1..0.5.
1 1                2.098417
2 2                2.024595
3 3                1.816223
4 4                1.127136
5 5                1.245594

Do trên thực tế dataframe được dùng như 1 dữ liệu cấu trúc, trong đó mỗi cột là 1 biến trong bài toán thống kê, và mỗi hàng thường là 1 đơn vị quan sát, nên ta nên tập thói quen chủ động đặt tên cho biến (cột) ngay từ khi tạo ra dataframe, với những cái tên có ý nghĩa, thí dụ:

In [6]:
d = data.frame(Patient = Chr_Var, 
               Weight = Int_Var, 
               Score = Float_Var, 
               Diagnosis = Bool_Var)

head(d)

  Patient Weight Score    Diagnosis
1 P1      63     8.634624 FALSE
2 P2      68     5.741256  TRUE
3 P3      65     6.040433 FALSE
4 P4      75     3.498936  TRUE
5 P5      77     6.633800 FALSE
6 P6      73     3.227285  TRUE

Như vậy ta có thể tạo dataframe "on the fly" với tên biến có ý nghĩa:

In [60]:
d = data.frame(Benh_nhan = paste('P',rep(1:20),sep=''),
               Can_nang = sample(50:80,20,replace=T),
               Marker_X = rnorm(20,5,2),
               Chan_doan = Float_Var < 6)

head(d)

  Benh_nhan Can_nang Marker_X Chan_doan
1 P1        71       5.946097 FALSE
2 P2        52       3.161691  TRUE
3 P3        76       4.248353 FALSE
4 P4        65       1.374332  TRUE
5 P5        57       5.577200 FALSE
6 P6        80       4.620755  TRUE

Cẩn thận: hàm data.frame không cho phép sử dụng một cách thứ bậc và trực tiếp các object bên trong, trừ khi chúng đã được có sẵn từ trước. Chỉ có hàm data_frame() của tidyverse mới cho phép điều này:

In [61]:
d = data.frame(Benh_nhan = paste('P',rep(1:20),sep=''),
               Can_nang = sample(50:80,20,replace=T),
               Marker_X = rnorm(20,5,2),
               Chan_doan = Marker_X  < 6)

head(d)

ERROR: Error in data.frame(Benh_nhan = paste("P", rep(1:20), sep = ""), Can_nang = sample(50:80, : objet 'Marker_X' introuvable

Hàm colnames() sẽ cho phép liệt kê tất cả tên cột (biến) trong dataframe:

In [9]:
colnames(d)

[1] "Benh_nhan" "Can_nang"  "Marker_X"  "Chan_doan"

Do đó ta có thể dùng colmanes để đặt lại tên biến sau khi tải dữ liệu vào R:

In [12]:
colnames(d) <- c('ID','Weight','X','Y')

head(d)

  ID Weight X        Y
1 P1 74     2.173802 FALSE
2 P2 73     6.134807  TRUE
3 P3 76     6.166375 FALSE
4 P4 69     2.386402  TRUE
5 P5 51     3.919228 FALSE
6 P6 61     8.895385  TRUE

# Tương đồng và khác biệt giữa dataframe và matrix

## Dataframe và matrix có thể tương đồng, nhưng không tương đương

Về hình thức, dataframe rất giống như matrix, và rất nhiều thao tác trên matrix cũng áp dụng được cho dataframe, tuy nhiên dataframe và matrix là 2 cấu trúc hoàn toàn khác nhau về tính năng, chúng không hề tương đương. Sự ngộ nhận về tính tương đương dẫn đến kết quả không mong muốn khi áp dụng trên thực tế.

Dataframe tương đồng với matrix khi thỏa 2 điều kiện:

1) Toàn bộ dữ liệu bên trong (tất cả các cột) thuộc cùng 1 kiểu (thí dụ đều là numeric, integer, boolean, character hay factor), 

và 2) có cùng hệ thống index (tên cột, tên hàng)

Trong thí dụ sau : dataframe df và matrix mat là tương đương: Lúc này ta có thể dùng hàm as.data.frame() để chuyển matrix thành dataframe:

In [20]:
mat = matrix(rnorm(25,5,2),5,5,
            dimnames = list(row_names = c(1:5),
                col_names = paste('V',c(1:5), sep=''))
            )

class(mat)

mat

[1] "matrix"

         col_names
row_names V1       V2       V3       V4       V5
        1 2.412569 1.905416 6.096796 8.398693 5.606302
        2 3.810602 6.699306 5.390564 4.311402 4.516052
        3 1.998372 6.792026 3.387004 5.135544 4.036533
        4 5.031711 5.277382 4.782752 3.698861 3.016394
        5 6.080339 1.761343 4.498107 4.024723 4.438702

In [21]:
df = as.data.frame(mat)

class(df)

df

[1] "data.frame"

  V1       V2       V3       V4       V5
1 2.412569 1.905416 6.096796 8.398693 5.606302
2 3.810602 6.699306 5.390564 4.311402 4.516052
3 1.998372 6.792026 3.387004 5.135544 4.036533
4 5.031711 5.277382 4.782752 3.698861 3.016394
5 6.080339 1.761343 4.498107 4.024723 4.438702

Dĩ nhiên ta cũng có thể làm ngược lại: hoán chuyển dataframe thành matrix:

In [23]:
mat = as.matrix(df)

mat

  V1       V2       V3       V4       V5
1 2.412569 1.905416 6.096796 8.398693 5.606302
2 3.810602 6.699306 5.390564 4.311402 4.516052
3 1.998372 6.792026 3.387004 5.135544 4.036533
4 5.031711 5.277382 4.782752 3.698861 3.016394
5 6.080339 1.761343 4.498107 4.024723 4.438702

Tuy nhiên, ngay cả khi dataframe tương đồng với matrix về mặt hình thức, nội dung, sự tương đồng này chỉ có ý nghĩa 1 chiều: Ta có thể dùng hầu hết (không phải tất cả) method của matrix cho dataframe (trích xuất/thay đổi dữ liệu, khảo sát, tính toán...), nhưng ngược lại thì không: nhiều method dành riêng cho dataframe không thể áp dụng cho matrix. Mặt khác, một số hàm / package quy định input phải là dataframe thì ta không thể dùng matrix

Thí dụ, dataframe cho phép trích xuất 1 cột bằng toán tử "$", nhưng matrix thì không:

In [26]:
df$V1

[1] 2.412569 3.810602 1.998372 5.031711 6.080339

In [27]:
mat$V1

ERROR: Error in mat$V1: $ operator is invalid for atomic vectors

Tương tự, ta không thể dùng matrix làm input cho hàm ggplot hay glm

In [28]:
library(ggplot2)

ggplot(data = mat, aes(x = V1, y = V2))+ geom_point()

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

ERROR: Error: `data` must be a data frame, or other object coercible by `fortify()`, not a numeric vector

In [30]:
glm(data = mat, V1 ~ .)

ERROR: Error in model.frame.default(formula = V1 ~ ., data = mat, drop.unused.levels = TRUE): 'data' must be a data.frame, not a matrix or an array

## Cẩn  trọng khi dùng cbind và rbind cho dataframe

Hàm cbind và rbind là các method của matrix, chúng cũng hoạt động cho dataframe :

Khi ghép 1 matrix và 1 dataframe bằng các hàm cbind, rbind, kết quả sẽ là dataframe:

In [41]:
m = matrix(c(1:10),5,2)

colnames(m) = c('V1','V2')

m

d = as.data.frame(m)

d

oc = cbind(m,d)

oc

class(oc)

or = rbind(m,d)

or

class(or)

     V1 V2
[1,] 1   6
[2,] 2   7
[3,] 3   8
[4,] 4   9
[5,] 5  10

  V1 V2
1 1   6
2 2   7
3 3   8
4 4   9
5 5  10

  V1 V2 V1 V2
1 1   6 1   6
2 2   7 2   7
3 3   8 3   8
4 4   9 4   9
5 5  10 5  10

[1] "data.frame"

   V1 V2
1  1   6
2  2   7
3  3   8
4  4   9
5  5  10
6  1   6
7  2   7
8  3   8
9  4   9
10 5  10

[1] "data.frame"

Tuy nhiên: cần chú ý là hệ thống chỉ mục (tên hàng, cột) trong matrix không chặt chẽ bằng dataframe, ta có thể dùng rbind thoải mái cho 2 matrix khác nhau về tên cột, nhưng không thể làm điều này cho dataframe hay ta cũng không thể ghép dataframe và matrix bằng rbind nếu tên cột khác nhau:

In [44]:
m1 = matrix(c(1:10),5,2)

colnames(m1) = c('V1','V2')

m1

m2 = matrix(rnorm(10,1,0.5),5,2)

colnames(m2) = c('V3','V4')

m2

d = data.frame(V5 = c(1:5),
               V6 = c('a','b','c','d','e'))

d

oc = cbind(m1,m2,d)

oc

class(oc)

or_m = rbind(m1,m2)

or_m

class(or_m)

or_d = rbind(m1,m2,d)

     V1 V2
[1,] 1   6
[2,] 2   7
[3,] 3   8
[4,] 4   9
[5,] 5  10

     V3         V4
[1,] 2.24177504 0.9754777
[2,] 1.20068249 0.7973063
[3,] 1.10758859 1.5651909
[4,] 0.09214382 1.4077324
[5,] 0.54413029 1.0382088

  V5 V6
1 1  a
2 2  b
3 3  c
4 4  d
5 5  e

  V1 V2 V3         V4        V5 V6
1 1   6 2.24177504 0.9754777 1  a
2 2   7 1.20068249 0.7973063 2  b
3 3   8 1.10758859 1.5651909 3  c
4 4   9 0.09214382 1.4077324 4  d
5 5  10 0.54413029 1.0382088 5  e

[1] "data.frame"

      V1         V2
 [1,] 1.00000000  6.0000000
 [2,] 2.00000000  7.0000000
 [3,] 3.00000000  8.0000000
 [4,] 4.00000000  9.0000000
 [5,] 5.00000000 10.0000000
 [6,] 2.24177504  0.9754777
 [7,] 1.20068249  0.7973063
 [8,] 1.10758859  1.5651909
 [9,] 0.09214382  1.4077324
[10,] 0.54413029  1.0382088

[1] "matrix"

ERROR: Error in match.names(clabs, names(xi)): names do not match previous names

## Những thao tác trên dataframe như matrix

Nhiều method của matrix có thể áp dụng cho dataframe, thí dụ:

### Trích xuất dữ liệu:

In [69]:
df = as.data.frame(matrix(c(1:30),6,5))

df

  V1 V2 V3 V4 V5
1 1   7 13 19 25
2 2   8 14 20 26
3 3   9 15 21 27
4 4  10 16 22 28
5 5  11 17 23 29
6 6  12 18 24 30

Tương tự matrix, ta sử dụng method [ ] để trích xuất dữ liệu từ dataframe, với 2 tham số: hàng và cột: Hệ thống index của R đếm từ 1, thí dụ df[3,2] là hàng thứ 3 của cột thứ 2. Ta có thể trích xuất tọa độ của 1 ô trong dataframe, nhiều quan sát (hàng) của một biến (cột), nhiều biến (cột) cho 1 cá thể (hàng), liên tục, rải rác hay 1 phần của dataframe.

In [72]:
df[2,]

  V1 V2 V3 V4 V5
2 2  8  14 20 26

Lưu ý, nếu không dùng dấu ',' nội dung index sẽ được mặc định hiểu là áp dụng cho cột chứ không phải hàng:

In [77]:
df[2]

  V2
1  7
2  8
3  9
4 10
5 11
6 12

In [74]:
df[2:5,]

  V1 V2 V3 V4 V5
2 2   8 14 20 26
3 3   9 15 21 27
4 4  10 16 22 28
5 5  11 17 23 29

Nếu chỉ trích xuất dữ liệu từ 1 cột (toàn bộ hay 1 phần), kết quả sẽ là vector, trừ khi bạn dùng tùy chỉnh drop = F

In [91]:
df[,2]

is.vector(df[,2])

[1]  7  8  9 10 11 12

[1] TRUE

In [92]:
df[c(1,3,5),2]

[1]  7  9 11

In [93]:
df[c(1,3,5),2, drop = F]

  V2
1  7
3  9
5 11

Dấu '-' có ý nghĩa loại trừ, có thể dùng cách này để loại bỏ hàng và cột từ dataframe

In [80]:
df[-2]

  V1 V3 V4 V5
1 1  13 19 25
2 2  14 20 26
3 3  15 21 27
4 4  16 22 28
5 5  17 23 29
6 6  18 24 30

In [81]:
df[-c(1,3),]

  V1 V2 V3 V4 V5
2 2   8 14 20 26
4 4  10 16 22 28
5 5  11 17 23 29
6 6  12 18 24 30

Khi trích nhiều cột, kết quả xuất ra luôn là dataframe, với hệ thống index hoàn chỉnh, bạn không cần dùng tùy chỉnh "drop = FALSE" như matrix:

In [94]:
df[2:5]

  V2 V3 V4 V5
1  7 13 19 25
2  8 14 20 26
3  9 15 21 27
4 10 16 22 28
5 11 17 23 29
6 12 18 24 30

In [97]:
df[,c(1,5)]

  V1 V5
1 1  25
2 2  26
3 3  27
4 4  28
5 5  29
6 6  30

In [95]:
df[c(1,2,4)]

  V1 V2 V4
1 1   7 19
2 2   8 20
3 3   9 21
4 4  10 22
5 5  11 23
6 6  12 24

In [76]:
df[c(1,4,2),c(1,3,5)]

  V1 V3 V5
1 1  13 25
4 4  16 28
2 2  14 26

Khi row index không tồn tại, kết quả là NA:

In [82]:
df[7,]

   V1 V2 V3 V4 V5
NA NA NA NA NA NA

Nhưng khi column index không tồn tại, R sẽ báo lỗi và không xuất ra kết quả nào cả:

In [98]:
df[,6]

ERROR: Error in `[.data.frame`(df, , 6): undefined columns selected

### Chọn mẫu

Method [] cũng có thể dùng để tái chọn mẫu, thí dụ: cắt 1 dataframe thành 2 tập train, test khi làm machine learning:

In [109]:
d

   Benh_nhan Can_nang Marker_X Chan_doan
1  P1        71       5.946097 FALSE
2  P2        52       3.161691  TRUE
3  P3        76       4.248353 FALSE
4  P4        65       1.374332  TRUE
5  P5        57       5.577200 FALSE
6  P6        80       4.620755  TRUE
7  P7        57       5.035720  TRUE
8  P8        57       6.300860 FALSE
9  P9        57       5.620510  TRUE
10 P10       68       8.336714 FALSE
11 P11       63       6.345229 FALSE
12 P12       52       4.444964  TRUE
13 P13       77       4.707947  TRUE
14 P14       63       8.402864  TRUE
15 P15       77       5.942716 FALSE
16 P16       54       6.163400  TRUE
17 P17       71       6.332041 FALSE
18 P18       63       3.442196 FALSE
19 P19       52       7.326650  TRUE
20 P20       60       1.070912 FALSE

In [112]:
train_idx = sample(1:20,10)

train_idx

train = d[train_idx,]
test = d[-train_idx,]

train

test

 [1] 11 10  4 18  9  8 12 20 17  6

   Benh_nhan Can_nang Marker_X Chan_doan
11 P11       63       6.345229 FALSE
10 P10       68       8.336714 FALSE
4  P4        65       1.374332  TRUE
18 P18       63       3.442196 FALSE
9  P9        57       5.620510  TRUE
8  P8        57       6.300860 FALSE
12 P12       52       4.444964  TRUE
20 P20       60       1.070912 FALSE
17 P17       71       6.332041 FALSE
6  P6        80       4.620755  TRUE

   Benh_nhan Can_nang Marker_X Chan_doan
1  P1        71       5.946097 FALSE
2  P2        52       3.161691  TRUE
3  P3        76       4.248353 FALSE
5  P5        57       5.577200 FALSE
7  P7        57       5.035720  TRUE
13 P13       77       4.707947  TRUE
14 P14       63       8.402864  TRUE
15 P15       77       5.942716 FALSE
16 P16       54       6.163400  TRUE
19 P19       52       7.326650  TRUE

In [ ]:
Tương tự, ta có thể làm bootstrap theo cùng một cách:

In [117]:
boot_idx = sample(c(1:20), 100, replace = T)

boot_df = d[boot_idx,]

### Cập nhật dataframe bằng [indices]

Ta có thể dùng method [] để thay đổi nội dung bên trong dataframe:

In [107]:
df = as.data.frame(matrix(c(1:30),6,5))

df

df[2] = rep(0,6)

df

  V1 V2 V3 V4 V5
1 1   7 13 19 25
2 2   8 14 20 26
3 3   9 15 21 27
4 4  10 16 22 28
5 5  11 17 23 29
6 6  12 18 24 30

  V1 V2 V3 V4 V5
1 1  0  13 19 25
2 2  0  14 20 26
3 3  0  15 21 27
4 4  0  16 22 28
5 5  0  17 23 29
6 6  0  18 24 30

Ta có thể dùng dataframe rỗng để làm place holder hay object nhận kết quả xuất ra từ các vòng lặp. Điều này sẽ làm tăng đáng kể tốc độ của vòng lặp, so với việc ghép nối thủ công bằng hàm c, cbind hay rbind. 

Thí dụ sau: Dùng 1 dataframe rỗng sample_df để nhận kết quả chọn mẫu 10 lượt từ 1 population 100 quan sát bằng vòng lặp for:

In [130]:
population = data.frame('V1' = rnorm(100,10,2),
                       'V2' = rnorm(100,5,1))

sample_df = data.frame('Iter'=NA,
                       'V1'= rep(NA,10),
                       'V2' = rep(NA,10))

sample_df

for (i in 1:10){
    sample_df[i,1] = i
    sample_df[i,-1] = population[sample(1:100,1),]}

sample_df

   Iter V1 V2
1  NA   NA NA
2  NA   NA NA
3  NA   NA NA
4  NA   NA NA
5  NA   NA NA
6  NA   NA NA
7  NA   NA NA
8  NA   NA NA
9  NA   NA NA
10 NA   NA NA

   Iter V1        V2
1   1    9.465879 5.409890
2   2    7.725251 4.093446
3   3   10.041294 4.790085
4   4    7.639648 5.496864
5   5    9.445158 5.919595
6   6   10.752851 5.270336
7   7   12.670188 3.788570
8   8   12.836039 4.403189
9   9   12.407029 4.317704
10 10   12.175773 6.812161

### Hàm upper. và lower.tri

Lưu ý: Hàm diag không áp dụng được cho dataframe, nhưng hàm upper.tri và lower.tri thì được:

In [100]:
diag(df)

ERROR: Error in diag(df): l'objet (list) ne peut être converti automatiquement en un type 'double'

In [101]:
upper.tri(df)

     [,1]  [,2]  [,3]  [,4]  [,5]
[1,] FALSE  TRUE  TRUE  TRUE  TRUE
[2,] FALSE FALSE  TRUE  TRUE  TRUE
[3,] FALSE FALSE FALSE  TRUE  TRUE
[4,] FALSE FALSE FALSE FALSE  TRUE
[5,] FALSE FALSE FALSE FALSE FALSE
[6,] FALSE FALSE FALSE FALSE FALSE

In [102]:
lower.tri(df)

     [,1]  [,2]  [,3]  [,4]  [,5]
[1,] FALSE FALSE FALSE FALSE FALSE
[2,]  TRUE FALSE FALSE FALSE FALSE
[3,]  TRUE  TRUE FALSE FALSE FALSE
[4,]  TRUE  TRUE  TRUE FALSE FALSE
[5,]  TRUE  TRUE  TRUE  TRUE FALSE
[6,]  TRUE  TRUE  TRUE  TRUE  TRUE

## Khảo sát cấu trúc dataframe

Hàm head() và tail() trình bày n hàng đầu và cuối của dataframe (mặc định n = 5)

In [137]:
head(d, n = 6)

  Benh_nhan Can_nang Marker_X Chan_doan
1 P1        71       5.946097 FALSE
2 P2        52       3.161691  TRUE
3 P3        76       4.248353 FALSE
4 P4        65       1.374332  TRUE
5 P5        57       5.577200 FALSE
6 P6        80       4.620755  TRUE

In [136]:
tail(d, n = 6)

   Benh_nhan Can_nang Marker_X Chan_doan
15 P15       77       5.942716 FALSE
16 P16       54       6.163400  TRUE
17 P17       71       6.332041 FALSE
18 P18       63       3.442196 FALSE
19 P19       52       7.326650  TRUE
20 P20       60       1.070912 FALSE

Hàm nrow và ncol khảo sát số hàng và cột của dataframe

In [145]:
nrow(d)

[1] 20

In [146]:
ncol(d)

[1] 4

Hàm dim khảo sát kích thước của dataframe, kết quả là vector : (nrow, ncol)

In [147]:
dim(d)

[1] 20  4

In [150]:
dim(d)[1]

[1] 20

In [151]:
dim(d)[2]

[1] 4

Hàm length cho biết số cột của dataframe: Lưu ý - thực ra hàm length khảo sát số phần tử trong 1 object, mà đơn vị phần tử của dataframe là vector (cột), do đó ý nghĩa của hàm length khác nhau tùy vào object được khảo sát.

In [159]:
m = matrix(c(1:10),2,5)

m

length(m)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

[1] 10

In [165]:
md = as.data.frame(m)

md

length(md)

  V1 V2 V3 V4 V5
1 1  3  5  7   9
2 2  4  6  8  10

[1] 5

Hàm attributes mô tả nội dung indices hàng và cột của dataframe:

In [166]:
attributes(d)

$names
[1] "Benh_nhan" "Can_nang"  "Marker_X"  "Chan_doan"

$class
[1] "data.frame"

$row.names
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

Hàm str như ta đã biết, mô tả nội dung bên trong dataframe

In [168]:
str(d)

'data.frame':	20 obs. of  4 variables:
 $ Benh_nhan: Factor w/ 20 levels "P1","P10","P11",..: 1 12 14 15 16 17 18 19 20 2 ...
 $ Can_nang : int  71 52 76 65 57 80 57 57 57 68 ...
 $ Marker_X : num  5.95 3.16 4.25 1.37 5.58 ...
 $ Chan_doan: logi  FALSE TRUE FALSE TRUE FALSE TRUE ...

# Những thao tác trên dataframe

## Truy xuất biến bằng toán tử $

$ dùng để truy xuất cột (biến) trong dataframe: kết quả là vector:

In [175]:
head(d)

  Benh_nhan Can_nang Marker_X Chan_doan
1 P1        71       5.946097 FALSE
2 P2        52       3.161691  TRUE
3 P3        76       4.248353 FALSE
4 P4        65       1.374332  TRUE
5 P5        57       5.577200 FALSE
6 P6        80       4.620755  TRUE

In [176]:
d$Benh_nhan

 [1] P1  P2  P3  P4  P5  P6  P7  P8  P9  P10 P11 P12 P13 P14 P15 P16 P17 P18 P19
[20] P20
20 Levels: P1 P10 P11 P12 P13 P14 P15 P16 P17 P18 P19 P2 P20 P3 P4 P5 P6 ... P9

In [177]:
d$Marker_X

 [1] 5.946097 3.161691 4.248353 1.374332 5.577200 4.620755 5.035720 6.300860
 [9] 5.620510 8.336714 6.345229 4.444964 4.707947 8.402864 5.942716 6.163400
[17] 6.332041 3.442196 7.326650 1.070912

In [178]:
d$Marker_X[1:5]

[1] 5.946097 3.161691 4.248353 1.374332 5.577200

## Truy nhập biến bằng hàm with(dataframe)

Dùng hàm with(dataframe), ta có thể thao tác trực tiếp trên các biến chỉ bằng tên của chúng. Cách làm này phổ quát và an toàn hơn hàm attach():

In [211]:
set.seed(123)

df = data.frame(V1 = rnorm(10,2,1),
                V2 = sample(LETTERS[1:5], 10, 
                           replace=TRUE),
               V3 = sample(20:50,10),
               V4 = sample(60:100,10)
               )

df

   V1        V2 V3 V4
1  1.4395244 A  23  66
2  1.7698225 D  33  68
3  3.5587083 A  36  69
4  2.0705084 A  30  82
5  2.1292877 E  26  86
6  3.7150650 C  40 100
7  2.4609162 B  31  96
8  0.7349388 B  34  91
9  1.3131471 A  29  84
10 1.5543380 C  32  61

In [212]:
with(df, V1)

 [1] 1.4395244 1.7698225 3.5587083 2.0705084 2.1292877 3.7150650 2.4609162
 [8] 0.7349388 1.3131471 1.5543380

In [216]:
with(df, V3 + V4)

 [1]  89 101 105 112 112 140 127 125 113  93

In [219]:
with(iris, summary(glm(Sepal.Length ~ Sepal.Width)))

Call:
glm(formula = Sepal.Length ~ Sepal.Width)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-1.5561  -0.6333  -0.1120   0.5579   2.2226

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   6.5262     0.4789   13.63   <2e-16 ***
Sepal.Width  -0.2234     0.1551   -1.44    0.152
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for gaussian family taken to be 0.6807844)

    Null deviance: 102.17  on 149  degrees of freedom
Residual deviance: 100.76  on 148  degrees of freedom
AIC: 371.99

Number of Fisher Scoring iterations: 2

In [222]:
with(iris, 
     list(summary(glm(Sepal.Length ~ Sepal.Width)),
          summary(glm(Sepal.Length ~ Sepal.Width + Petal.Length)),
          summary(glm(Sepal.Length ~ Sepal.Width + Petal.Length + Petal.Width))
         ))

[[1]]

Call:
glm(formula = Sepal.Length ~ Sepal.Width)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-1.5561  -0.6333  -0.1120   0.5579   2.2226

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   6.5262     0.4789   13.63   <2e-16 ***
Sepal.Width  -0.2234     0.1551   -1.44    0.152
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for gaussian family taken to be 0.6807844)

    Null deviance: 102.17  on 149  degrees of freedom
Residual deviance: 100.76  on 148  degrees of freedom
AIC: 371.99

Number of Fisher Scoring iterations: 2


[[2]]

Call:
glm(formula = Sepal.Length ~ Sepal.Width + Petal.Length)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-0.96159  -0.23489   0.00077   0.21453   0.78557

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)   2.24914    0.24797    9.07 7.04e-16 ***
Sepal.Width   0.59552    0.06933    8.59 1.16e-14 ***
Petal.Length  0.47192    0.01712   27.57  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for gaussian family taken to be 0.11108)

    Null deviance: 102.168  on 149  degrees of freedom
Residual deviance:  16.329  on 147  degrees of freedom
AIC: 101.03

Number of Fisher Scoring iterations: 2


[[3]]

Call:
glm(formula = Sepal.Length ~ Sepal.Width + Petal.Length + Petal.Width)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-0.82816  -0.21989   0.01875   0.19709   0.84570

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)   1.85600    0.25078   7.401 9.85e-12 ***
Sepal.Width   0.65084    0.06665   9.765  < 2e-16 ***
Petal.Length  0.70913    0.05672  12.502  < 2e-16 ***
Petal.Width  -0.55648    0.12755  -4.363 2.41e-05 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for gaussian family taken to be 0.09894113)

    Null deviance: 102.168  on 149  degrees of freedom
Residual deviance:  14.445  on 146  degrees of freedom
AIC: 84.643

Number of Fisher Scoring iterations: 2

## Thêm biến (cột) mới vào dataframe

Thông thường nội dung của biến mới này là kết quả phát sinh từ một phép tính hay hoán chuyển dữ liệu trên các biến hiện có. Object được tạo ra là 1 vector, và mục tiêu là đưa vector này vào dataframe hiện có. Ta có nhiều cách để làm điều này:

In [203]:
set.seed(123)

df = data.frame(V1 = rnorm(10,2,1),
                V2 = sample(LETTERS[1:5], 10, 
                           replace=TRUE),
               V3 = sample(20:50,10),
               V4 = sample(60:100,10)
               )

df

   V1        V2 V3 V4
1  1.4395244 A  23  66
2  1.7698225 D  33  68
3  3.5587083 A  36  69
4  2.0705084 A  30  82
5  2.1292877 E  26  86
6  3.7150650 C  40 100
7  2.4609162 B  31  96
8  0.7349388 B  34  91
9  1.3131471 A  29  84
10 1.5543380 C  32  61

Đầu tiên, ta có thể dùng toán tử $ để tạo ra một item mới và gán cho nó vector kết quả:
Thí dụ ta tạo ra biến Ratio34 để chứa tỉ lệ % giữa V3 và V4:

In [205]:
set.seed(123)

df$Ratio34 = 100*df$V3/df$V4

df

   V1        V2 V3 V4  Ratio34
1  1.4395244 A  23  66 34.84848
2  1.7698225 D  33  68 48.52941
3  3.5587083 A  36  69 52.17391
4  2.0705084 A  30  82 36.58537
5  2.1292877 E  26  86 30.23256
6  3.7150650 C  40 100 40.00000
7  2.4609162 B  31  96 32.29167
8  0.7349388 B  34  91 37.36264
9  1.3131471 A  29  84 34.52381
10 1.5543380 C  32  61 52.45902

Ta cũng có thể dùng phương pháp truy nhập dữ liệu [newcolumn] = vector

In [204]:
set.seed(123)

df = data.frame(V1 = rnorm(10,2,1),
                V2 = sample(LETTERS[1:5], 10, 
                           replace=TRUE),
               V3 = sample(20:50,10),
               V4 = sample(60:100,10)
               )

df['Ratio34'] = 100*df$V3/df$V4

df

   V1        V2 V3 V4  Ratio34
1  1.4395244 A  23  66 34.84848
2  1.7698225 D  33  68 48.52941
3  3.5587083 A  36  69 52.17391
4  2.0705084 A  30  82 36.58537
5  2.1292877 E  26  86 30.23256
6  3.7150650 C  40 100 40.00000
7  2.4609162 B  31  96 32.29167
8  0.7349388 B  34  91 37.36264
9  1.3131471 A  29  84 34.52381
10 1.5543380 C  32  61 52.45902

Hoặc dùng [,newcolumn] = vector

In [206]:
set.seed(123)

df = data.frame(V1 = rnorm(10,2,1),
                V2 = sample(LETTERS[1:5], 10, 
                           replace=TRUE),
               V3 = sample(20:50,10),
               V4 = sample(60:100,10)
               )

df[,'Ratio34'] = 100*df$V3/df$V4

df

   V1        V2 V3 V4  Ratio34
1  1.4395244 A  23  66 34.84848
2  1.7698225 D  33  68 48.52941
3  3.5587083 A  36  69 52.17391
4  2.0705084 A  30  82 36.58537
5  2.1292877 E  26  86 30.23256
6  3.7150650 C  40 100 40.00000
7  2.4609162 B  31  96 32.29167
8  0.7349388 B  34  91 37.36264
9  1.3131471 A  29  84 34.52381
10 1.5543380 C  32  61 52.45902

Ta cũng có thể dùng hàm within(dataframe) để có thể thao tác trên các phần tử của dataframe này và lưu lại như một cột mới:

In [240]:
set.seed(123)

df = data.frame(V1 = rnorm(20,2,1),
                V2 = sample(LETTERS[1:5], 20, 
                           replace=TRUE),
               V3 = sample(20:50,20),
               V4 = sample(60:100,20)
               )

within(df, 
       quantile <- cut(V1, breaks = quantile(V1),
                           labels = c("P5", "P25", "P50", "P75")))

   V1         V2 V3 V4  quantile
1  1.43952435 B  44  84 P5
2  1.76982251 E  25  81 P25
3  3.55870831 A  40 100 P75
4  2.07050839 A  34  91 P25
5  2.12928774 B  28  98 P50
6  3.71506499 C  47  82 P75
7  2.46091621 D  35  94 P50
8  0.73493877 E  39  89 P5
9  1.31314715 E  49  71 P5
10 1.55433803 C  30  90 P25
11 3.22408180 A  27  96 P75
12 2.35981383 B  26  73 P50
13 2.40077145 E  50  62 P50
14 2.11068272 E  36  93 P25
15 1.44415887 D  37  66 P5
16 3.78691314 E  21  88 P75
17 2.49785048 B  23  95 P50
18 0.03338284 A  32  99 NA
19 2.70135590 A  24  74 P75
20 1.52720859 C  42  80 P25

## Lọc dữ liệu trong dataframe

In [241]:
set.seed(123)

df = data.frame(V1 = rnorm(10,2,1),
                V2 = sample(LETTERS[1:5], 10, 
                           replace=TRUE),
               V3 = sample(20:50,10),
               V4 = sample(60:100,10)
               )

df

   V1        V2 V3 V4
1  1.4395244 A  23  66
2  1.7698225 D  33  68
3  3.5587083 A  36  69
4  2.0705084 A  30  82
5  2.1292877 E  26  86
6  3.7150650 C  40 100
7  2.4609162 B  31  96
8  0.7349388 B  34  91
9  1.3131471 A  29  84
10 1.5543380 C  32  61

Việc lọc dữ liệu có bản chất là áp dụng một boolean mask trên dataframe và loại bỏ những hàng tương ứng với giá trị FALSE trên mask này.

Thí dụ: giữ lại những trường hợp có V1 >2:

In [246]:
df[df$V1>2, ]

  V1       V2 V3 V4
3 3.558708 A  36  69
4 2.070508 A  30  82
5 2.129288 E  26  86
6 3.715065 C  40 100
7 2.460916 B  31  96

Thí dụ 2: giữ lại những trường hợp có V2 là A hoặc E

In [251]:
df[df$V2 == 'A' | df$V2 == 'E',]

  V1       V2 V3 V4
1 1.439524 A  23 66
3 3.558708 A  36 69
4 2.070508 A  30 82
5 2.129288 E  26 86
9 1.313147 A  29 84

Cách làm khác: sử dụng %in%

In [248]:
df[df$V2 %in% c('A','E'),]

  V1       V2 V3 V4
1 1.439524 A  23 66
3 3.558708 A  36 69
4 2.070508 A  30 82
5 2.129288 E  26 86
9 1.313147 A  29 84

# Đi xa hơn

Nhi tạm khép lại bài thực hành tại đây, tuy nhiên những nội dung trong bài chỉ là những gì cơ bản nhất về dataframe, nhưng chưa phải là tất cả những gì bạn có thể làm với nó. Vì dataframe là cấu trúc dữ liệu thông dụng, phổ biến nhất khi làm việc với R, có hàng trăm thao tác ta có thể làm, thông qua nhiều packages; đặc biệt với sự hỗ trợ của những package như dplyr, tidyr, purrr trong hệ sinh thái tidyverse, bạn có thể tái hiện lại những thao tác trong bài này với phong cách viết R code hoàn toàn mới. 

Hẹn gặp lại trong bài tiếp theo, chúc các bạn thực hành vui.