# Vector và Định dạng dữ liệu R


**Lê Ngọc Khả Nhi**


## R vector

Vector là một cấu trúc dữ liệu cơ bản trong ngôn ngữ R. Có thể hình dung vector như một chuỗi dữ liệu, một biến hay cột trong bảng dữ liệu 2 chiều, hay một số thuật ngữ như tensor 1D, array 1D. Đặc tính của vector là nó chỉ chứa cùng một định dạng (loại) dữ liệu. 

Vector có ý nghĩa quan trọng, vì nó rất thông dụng và tham gia vào mọi quy trình phân tích dữ liệu trong R.
Chúng ta sẽ tìm hiểu về R vector 


## Vector rỗng và định dạng dữ liệu

Vector là cấu trúc dữ liệu phổ biến đến mức chúng ta dùng nó thường xuyên trong R mà không ý thức object mình đã tạo ra chính là vector và mình đang thao tác trên vector. Để kiểm tra 1 object có phải là vector hay không, ta dùng hàm is.vector(obj).

Trong thí dụ sau đây: object a chỉ có 1 con số và nó vẫn được R xem là vector (còn gọi là scalar)

In [357]:
a <- 1

is.vector(a)

[1] TRUE

Vector đơn giản nhất là một vector rỗng, không chứa giá trị nào cả. Công dụng của vector rỗng như một ngăn chứa (place holder) để nhận kết quả xuất ra từ các vòng lặp (for, while loop).

Có thể tạo vector rỗng bằng hàm vector()

Tuy nhiên khi tạo vector, ngay cả vector rỗng, ta cần chú ý về định dạng dữ liệu vì khái niệm vector gắn liền với khái niệm về định dạng, mỗi vector chỉ cho phép chứa cùng 1 loại dữ liệu, và mỗi loại dữ liệu cho phép một số phương pháp tính toán, thao tác chuyên biệt.

Định dạng dữ liệu được kiểm tra bằng hàm class(obj) hoặc hàm str(obj)

In [358]:
v0 <- vector(mode = 'integer')

is.vector(v0)

[1] TRUE

In [359]:
v0

integer(0)

In [360]:
class(v0)

[1] "integer"

In [361]:
str(v0)

 int(0)

Có 4 định dạng (mode, class) dữ liệu thông dụng trong R, gồm: 

"logical": nhận giá trị TRUE (T,1) hay FALSE (F,0), có ý nghĩa Đúng/Sai, dùng cho biến Bolean, Logical

"integer": nhận giá trị là số nguyên, dùng cho biến số rời rạc, số đếm

"numeric" hay "double": nhận giá trị là số thực (có giá trị thập phân), dùng cho biến liên tục

"character": chuỗi kí tự

từ loại "character" ta có thể nâng cấp thành "factor" để dùng cho biến categorical

ngoài ra còn có 2 định dạng "complex", "raw" cho số phức và byte, ít thông dụng.

Có thể đi tắt từ mode của dữ liệu để tạo vector rỗng, thay vì dùng hàm vector(mode), thí dụ:

In [362]:
vi_1 <- integer()
vi_2 <- vector('integer')

class(vi_1)
class(vi_1) == class(vi_2)

[1] "integer"

[1] TRUE

In [363]:
vn_1 <- numeric()
vn_2 <- vector('numeric')

class(vn_1)

[1] "numeric"

In [364]:
vn_1 <- double()
vn_2 <- vector('double')

class(vn_1)

[1] "numeric"

In [365]:
vlog_1 <- logical()
vlog_2 <- vector('logical')

class(vlog_1)

[1] "logical"

In [366]:
vc_1 <- character()
vc_2 <- vector('character')

class(vc_1)

[1] "character"

Lưu ý: hàm vector() không tạo được vector rỗng định dạng "factor", vector có định dạng factor chỉ có thể tạo bằng hàm factor() hay chuyển đổi từ 1 định dạng khác với hàm as.factor()

In [367]:
vf_1 <- factor()

class(vf_1)

[1] "factor"

In [368]:
vf_1 <- as.factor(vc_1)

class(vf_1)

[1] "factor"

Các hàm integer, double, numeric, logical, character, factor cho phép tạo ra những vector cơ bản với số phần tử n tùy ý, nếu n = 0, kết quả sẽ là vector rỗng, khi n > 0 ta sẽ có vector có n phần tử đồng dạng, thí dụ:

In [369]:
vi_1 = integer(0)

print(vi_1)

integer(0)

Lưu ý: Một vector rỗng không đồng nghĩa với NULL, vì NULL là một class đặc biệt chứ không đồng nghĩa với "không chứa phần tử nào"

In [370]:
v_null = NULL
is.null(v_null)

[1] TRUE

In [371]:
vi_0 = integer()
is.null(vi_0)

[1] FALSE

## Vector cơ bản đồng dạng

Khi n > 0, vector tạo ra sẽ chứa n phần tử có cùng giá trị và là giá trị nhỏ nhất có thể, thí dụ: vector integer/numeric/double cơ bản có toàn giá trị = 0, character chứa toàn khoảng trắng, logical vector chỉ chứa toàn giá trị FALSE.

In [101]:
integer(5)

[1] 0 0 0 0 0

In [174]:
vi_base = integer(5)

length(vi_base)

[1] 5

In [103]:
character(5)

[1] "" "" "" "" ""

In [104]:
double(5)

[1] 0 0 0 0 0

In [105]:
numeric(5)

[1] 0 0 0 0 0

In [106]:
logical(5)

[1] FALSE FALSE FALSE FALSE FALSE

## Tạo vector từ chuỗi dữ liệu: c()

Để tạo thủ công một vector từ 1 chuỗi giá trị (dĩ nhiên cùng định dạng), ta dùng lệnh c() - có nghĩa là concatenate. 

Lệnh c() còn được dùng mỗi khi ta muốn mở rộng (đưa thêm dữ liệu mới) vào vector hiện có, hay ghép nhiều vector đồng loại với nhau.

In [115]:
v = c(1,2,3,4,5)

class(v)

[1] "numeric"

Trên thực tế, ít khi ta quan tâm đến sự khác biệt giữa 2 định dạng integer và numeric, trừ khi phân tích biến thứ hạng rời rạc. Kết quả của hàm c() cho chuỗi số bao giờ cũng định dạng là "numeric" chứ không phải "integer", ngay cả khi ta nhập toàn số nguyên.

In [373]:
vi_1 = c(-1,0,14,107,NA)

vi_1

is.integer(vi_1)

class(vi_1)

[1]  -1   0  14 107  NA

[1] FALSE

[1] "numeric"

Để tạo vector integer, ta cần xác định bằng hàm as.integer()

In [375]:
vi_1 = as.integer(c(-1,0,14,107,NA))

vi_1

is.integer(vi_1)

[1]  -1   0  14 107  NA

[1] TRUE

Một khả năng khác để tạo vector integer là từ dữ liệu chuỗi số nguyên liên tục, thí dụ từ 1 đến 5: c(1:5)

In [376]:
vi_2 = c(1:5)

vi_2

class(vi_2)

is.integer(vi_2)

[1] 1 2 3 4 5

[1] "integer"

[1] TRUE

Với những chuỗi số nguyên là kết quả hàm rep() hay seq(n), seq_along(n:k), vector xuất ra cũng sẽ có định dạng integer

In [381]:
v = c(rep(1:3, each = 3))

v

is.integer(v)

[1] 1 1 1 2 2 2 3 3 3

[1] TRUE

In [386]:
v = c(seq(10))

v

is.integer(v)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] TRUE

In [388]:
v = c(seq_along(1:5))

v

is.integer(v)

[1] 1 2 3 4 5

[1] TRUE

Khi dữ liệu của bạn (cột trong bảng csv, excel, txt...) có toàn con số, và trong số đó có bất kì số thập phân nào, vector tạo ra sẽ có định dạng "double" hay "numeric", nhưng dấu ngăn cách phải đồng dạng và được xác định trong argument "dec" của hàm read_csv, nếu không R sẽ định dạng dữ liệu của cột đó là "character" thay vì "numeric". Nếu không có số thập phân, cột đó sẽ được tự động xác định là "integer".

In [392]:
vn_1 = c(-1.5, 0, 0.01, 9.999,NA)

vn_1

class(vn_1)

[1] -1.500  0.000  0.010  9.999     NA

[1] "numeric"

Việc ghép nối 2 vector integer sẽ cho ra 1 vector integer:

In [391]:
vi_c = c(vi_1, vi_2)

vi_c

class(vi_c)

 [1]  -1   0  14 107  NA   1   2   3   4   5

[1] "integer"

Tuy nhiên khi nối dài 1 vector integer bằng hàm c(), định dạng lại bị chuyển thành numeric

In [390]:
vi_c = c(vi_1, 1,2,3)

vi_c

class(vi_c)

[1]  -1   0  14 107  NA   1   2   3

[1] "numeric"

Tương tự, các phép tính trên vector integer cho ra kết quả có định dạng numeric

In [395]:
vi_c = vi_1 + 1

vi_c

class(vi_c)

[1]   0   1  15 108  NA

[1] "numeric"

Vì một con số nguyên, thí dụ 1,2,3 phải được xác nhận bằng kí hiệu 'L', lúc này R sẽ hiểu chúng là integer

In [396]:
vi_c = c(vi_1, 1L, 2L, 3L)

vi_c

class(vi_c)

[1]  -1   0  14 107  NA   1   2   3

[1] "integer"

Phép tính giữa vector integer và 1 integer (kí hiệu L) cho ra kết quả là vector integer

In [397]:
vi_c = vi_1 * 2L

vi_c

class(vi_c)

[1]  -2   0  28 214  NA

[1] "integer"

Hàm c() với chuỗi kí tự ("") sẽ cho ra vector character

In [168]:
vc_1 = c('a','b','a','c','b')

vc_1

class(vc_1)

[1] "a" "b" "a" "c" "b"

[1] "character"

Để tạo ra vector định dạng factor, ta phải xác nhận bằng hàm factor() hoặc as.factor()

In [399]:
vf_1 = factor(c('a','b','a','c','b'))

vf_1

class(vf_1)

str(vf_1)

[1] a b a c b
Levels: a b c

[1] "factor"

 Factor w/ 3 levels "a","b","c": 1 2 1 3 2

So với character, factor hữu ích hơn cho việc lưu trữ biến định tính, rời rạc, vì giá trị được tổ chức theo level: Hàm levels liệt kê danh sách của levels các label trong biến

In [401]:
levels(vf_1)

[1] "a" "b" "c"

Một ứng dụng của hàm level là đổi tên các label (recoding)

In [403]:
levels(vf_1) = c('A','B','C')

vf_1

[1] A B A C B
Levels: A B C

In [407]:
levels(vf_1)[2] = 'Group_B'

vf_1

[1] A       Group_B A       C       Group_B
Levels: A Group_B C

Lưu ý: Khi nhập liệu factor thủ công, khoảng trắng được xem như 1 level. Khi tải dữ liệu csv, khoảng trắng tự động được xem là NA (missing value), NA không được xét như là 1 level

In [408]:
vf_2 = as.factor(c('c','b','b','a','',NA))

vf_2

class(vf_2)

str(vf_2)

[1] c    b    b    a         <NA>
Levels:  a b c

[1] "factor"

 Factor w/ 4 levels "","a","b","c": 4 3 3 2 1 NA

Hàm unique cho phép kiểm tra có bao nhiêu label (level) của một biến rời rạc (vector character hay factor)

In [169]:
unique(vc_1)

[1] "a" "b" "c"

In [409]:
unique(vf_2)

[1] c    b    a         <NA>
Levels:  a b c

Cẩn thận: Khi ghép nối 2 hay nhiều vector định dạng factor, chúng được xử lý như integer vector, kết quả là vector integer:

In [411]:
vf_1

vf_2

vf_comp = c(vf_1,vf_2)

vf_comp

str(vf_comp)

[1] A       Group_B A       C       Group_B
Levels: A Group_B C

[1] c    b    b    a         <NA>
Levels:  a b c

 [1]  1  2  1  3  2  4  3  3  2  1 NA

 int [1:11] 1 2 1 3 2 4 3 3 2 1 ...

Ngay cả khi ta dùng hàm as.factor, ta cũng bị mất thông tin về label gốc :

In [194]:
vf_comp = as.factor(c(vf_1,vf_2))

vf_comp

str(vf_comp)

 [1] 1    2    1    3    2    4    3    3    2    1    <NA>
Levels: 1 2 3 4

 Factor w/ 4 levels "1","2","3","4": 1 2 1 3 2 4 3 3 2 1 ...

Có thể hoán chuyển định dạng dữ liệu factor thành integer bằng hàm as.integer:

In [414]:
vfi_1 = as.integer(vf_1)

vfi_1

[1] 1 2 1 3 2

Tuy nhiên, ta không thể hoán chuyển trực tiếp vector character thành vector integer: kết quả sẽ là NA:

In [418]:
vc_1 = c('a','b','a','c','b')

vc_1

vci_1 = as.integer(vc_1)

vci_1

[1] "a" "b" "a" "c" "b"

Warning message in eval(expr, envir, enclos):
"NAs introduits lors de la conversion automatique"

[1] NA NA NA NA NA

Như vậy ta phải làm 2 bước, trước hết chuyển character thành factor, sau đó chuyển factor thành integer:

In [419]:
vc_1

vci_1 = as.integer(factor(vc_1))

vci_1

[1] "a" "b" "a" "c" "b"

[1] 1 2 1 3 2

Khoảng trắng cũng là 1 level, nên nó cũng được chuyển thành integer:

In [203]:
vf_2

vfi_2 = as.integer(vf_2)

vfi_2

[1] c    b    b    a         <NA>
Levels:  a b c

[1]  4  3  3  2  1 NA

Khi áp dụng hàm as.integer cho 1 vector numeric, chỉ phần nguyên của giá trị được giữ lại, phần thập phân bị cắt bỏ (không phải phép làm tròn số)

In [423]:
vd_1 = c(-1.6, 0.01, 1.2, 2.4, 2.8, 3.05)

vd_1

vdi_1 = as.integer(vd_1)

vdi_1

[1] -1.60  0.01  1.20  2.40  2.80  3.05

[1] -1  0  1  2  2  3

Nếu trong chuỗi dữ liệu có cả số nguyên và thập phân, kết quả hàm c() sẽ là numeric

In [424]:
vx = c(-1,0,0.1,2.05,3L,10L,NA)

vx

class(vx)

[1] -1.00  0.00  0.10  2.05  3.00 10.00    NA

[1] "numeric"

Nhưng nếu trộn lẫn cả số và kí tự, thì kết quả hàm c() sẽ là character vector; đây là tình huống khi dữ liệu csv hay excel chưa được làm sạch, có lỗi nhập liệu lẫn kí tự và số:

vx = c(-1,0,0.1,2.05,3,10,15,NA,'/','*','?')

vx

class(vx)

## Khảo sát đặc tính của vector

Hàm length cho biết kích thước (độ dài) của vector:

In [428]:
vi_2

length(vi_2)

[1] 1 2 3 4 5

[1] 5

In [429]:
vf_2

length(vf_2)

[1] c    b    b    a         <NA>
Levels:  a b c

[1] 6

Hàm unique liệt kê những giá trị hay label trong vector:

In [432]:
unique(vf_1)

[1] A       Group_B C
Levels: A Group_B C

In [433]:
unique(vc_1)

[1] "a" "b" "c"

In [434]:
v = c(1,2,11,0,1,3,5,6,7,3)

unique(v)

[1]  1  2 11  0  3  5  6  7

Hàm str() - vốn là hàm tóm tắt phổ quát cho mọi object, function, ... sẽ tóm tắt thông tin trong vector

In [435]:
str(vf_2)

 Factor w/ 4 levels "","a","b","c": 4 3 3 2 1 NA

## Sắp xếp thứ tự dữ liệu vector

Hàm sort() sẽ xếp giá trị theo trình tự tăng dần hay giảm dần, theo mặc định là thứ tự tăng dần:

In [440]:
v = c(2,1,3,5,2,4,5,6)

v

sort(v)

[1] 2 1 3 5 2 4 5 6

[1] 1 2 2 3 4 5 5 6

Tùy chỉnh decreasing = T sẽ xếp theo thứ tự giảm dần

In [443]:
sort.default(v, decreasing = T)

[1] 6 5 5 4 3 2 2 1

In [442]:
sort.default(v, decreasing = F)

[1] 1 2 2 3 4 5 5 6

Hàm sort() chỉ áp dụng cho vector số, nhưng hàm sort.default dùng được cho cả character, factor lẫn numeric, tuy nhiên thứ tự character theo một quy luật đặc biệt:

In [441]:
vx = c(-1,0,0.1,2.05,3,10,15,NA,'/','*','?')

sort(vx)

 [1] "-1"   "*"    "/"    "?"    "0"    "0.1"  "10"   "15"   "2.05" "3"

In [339]:
sort.default(vx, decreasing = T)

 [1] "3"    "2.05" "15"   "10"   "0.1"  "0"    "?"    "/"    "*"    "-1"

Số được xếp trước, sau đó đến các kí tự đặc biệt, rồi đến chữ in hoa, chữ thường, rồi đến tổ hợp chữ-số

In [447]:
vx = factor(c('?','*','/','A','a','b','b0','b1',-1,0,2))

vx

class(vx)

 [1] ?  *  /  A  a  b  b0 b1 -1 0  2
Levels: -1 * / ? 0 2 a A b b0 b1

[1] "factor"

In [450]:
sort.default(vx, decreasing = F)

 [1] -1 *  /  ?  0  2  a  A  b  b0 b1
Levels: -1 * / ? 0 2 a A b b0 b1

In [451]:
sort.default(vx, decreasing = T)

 [1] b1 b0 b  A  a  2  0  ?  /  *  -1
Levels: -1 * / ? 0 2 a A b b0 b1

## Trích xuất dữ liệu vector

Trích xuất hay chọn lọc, lấy mẫu(indexing, slicing, selecting, resampling) là một thao tác thông thường trên dữ liệu. Với dữ liệu vector 1 chiều, mỗi phần tử có thể được trích xuất dựa vào thứ tự trong chuỗi, thí dụ phần tử thứ 3 trong vector vi_2 có thể được trích xuất như sau:

In [452]:
vi_2 

vi_2[3]

[1] 1 2 3 4 5

[1] 3

Ta có thể trích ra nhiều phần tử, theo thứ tự hoặc ngẫu nhiên, đơn hay lặp lại, như trong các thí dụ sau:

In [454]:
vi_2

vi_2[2:5]

[1] 1 2 3 4 5

[1] 2 3 4 5

Nếu index vượt ra khỏi kích thước của vector, kết quả xuất ra là NA

In [458]:
length(vi_2)

vi_2[6]

[1] 5

[1] NA

Lưu ý: R có hệ thống index đếm từ 1 (khác Python, index từ 0)

In [459]:
vi_2[1:3]

[1] 1 2 3

Khi nhập một giá trị index = 0, kết quả là NULL

In [456]:
vi_2[0]

integer(0)

Kí hiệu '-' hay dấu trừ có ý nghĩa là "loại trừ" trong R (trong Python, nó có nghĩa đếm ngược từ vị trí sau cùng của vector)

In [460]:
vi_2

vi_2[-c(1,3)]

[1] 1 2 3 4 5

[1] 2 4 5

In [461]:
vi_2

vi_2[-3]

[1] 1 2 3 4 5

[1] 1 2 4 5

Cẩn thận: không thể kết hợp "loại trừ" và "chọn", như trong thí dụ sau:

In [462]:
vi_2[-c(1,3),4]

ERROR: Error in vi_2[-c(1, 3), 4]: nombre de dimensions incorrect

Như đã nói, indexes có thể không theo thứ tự gốc, như vậy ta đã tạo ra 1 vector mới (resampling) theo thứ tự khác:

In [465]:
vi_1

vi_1[c(1,4,3,5,2)]

[1]  -1   0  14 107  NA

[1]  -1 107  14  NA   0

Thậm chí, ta còn có thể lặp lại nhiều lần 1 index, từ đó kéo dài vector kết quả từ phần tử của vector gốc:

In [467]:
vi_2

vi_2[c(1,1,2,3,5,4,5,4)]

[1] 1 2 3 4 5

[1] 1 1 2 3 5 4 5 4

In [256]:
vi_2[rep(c(1:length(vi_2)),each = 3)]

 [1] 1 1 1 2 2 2 3 3 3 4 4 4 5 5 5

## Chọn lọc theo điều kiện

Hệ thống [] còn cho phép chọn lọc theo điều kiện, ta có thể đưa vào [] một hàm logic (boolean) như trong các thí dụ sau:

In [261]:
vn_3 = c(-3,-2,-1,0,1,2,3,4,5,6)

vn_3

 [1] -3 -2 -1  0  1  2  3  4  5  6

Lọc những giá trị dương hay = 0

In [262]:
vn_3[vn_3 >= 0]

[1] 0 1 2 3 4 5 6

Lọc những giá trị âm

In [263]:
vn_3[vn_3 < 0]

[1] -3 -2 -1

Lọc những giá trị là số chẵn

In [264]:
vn_3[vn_3 %% 2 == 0]

[1] -2  0  2  4  6

Những giá trị chia hết cho 3

In [265]:
vn_3[vn_3 %% 3 == 0]

[1] -3  0  3  6

Những giá trị là số lẻ:

In [266]:
vn_3[vn_3 %% 2 != 0]

[1] -3 -1  1  3  5

Điều kiện kết hợp: số lẻ và dương

In [267]:
vn_3[vn_3 %% 2 != 0 & vn_3 >= 0]

[1] 1 3 5

Số chẵn và chia hết cho 3

In [271]:
vn_3[(vn_3 %% 2 == 0) & (vn_3 %% 3 == 0)]

[1] 0 6

Số chẵn HOẶC chia hết cho 3

In [274]:
vn_3[(vn_3 %% 2 == 0) | (vn_3 %% 3 == 0)]

[1] -3 -2  0  2  3  4  6

Hàm (toán tử) %in% cho phép kiểm tra phần chung giữa 2 tập hợp

In [284]:
vi_2

vn_3 %in% vi_2

[1] 1 2 3 4 5

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE

Lọc những giá trị vector vn_3 trùng (nằm trong) vector vi_2

In [282]:
vn_3[vn_3 %in% vi_2]

[1] 1 2 3 4 5

Để tạo ra 1 hàm trái ngược với %in%, gọi là %notin%, ta có thể dùng Negate, hàm này cho phép loại trừ thay vì chọn:

In [290]:
'%notin%' <- Negate('%in%')

vn_3[vn_3 %notin% vi_2]

[1] -3 -2 -1  0  6

## Tính toán trên vector

Có thể dùng mọi phép toán giữa 1 vector số và 1 con số, thí dụ phép cộng, trừ, nhân, chia, lũy thừa...

In [301]:
vi_3

vi_4 = vi_3 + 2

vi_4

class(vi_4)

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  3  4  5  6  7  8  9 10 11 12

[1] "numeric"

In [302]:
vi_3 * 2

 [1]  2  4  6  8 10 12 14 16 18 20

In [303]:
vi_3 / 2

 [1] 0.5 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

In [305]:
vi_3 ^ 2

 [1]   1   4   9  16  25  36  49  64  81 100

Ta có thể tính toán trên 2 vector, trong trường hợp đơn giản 2 vector có cùng kích thước, khi đó những phần tử được tính toán theo nguyên tắc bắt cặp tuần tự

In [309]:
vi_2

vi_2 + c(0,1,0,0,1)

[1] 1 2 3 4 5

[1] 1 3 3 4 6

Khi 2 vector có kích thước khác nhau, ta sẽ thấy hiện tượng là vector ngắn hơn sẽ được lặp lại theo chu kì để bắt cặp với các phần tử vector dài hơn:

In [313]:
vi_3

vi_2

c(vi_2, vi_2)

vi_3 + vi_2

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1 2 3 4 5

 [1] 1 2 3 4 5 1 2 3 4 5

 [1]  2  4  6  8 10  7  9 11 13 15

In [475]:
vi_3

c(0,1)

rep(c(0,1),5)

vi_3 * c(0,1)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 0 1

 [1] 0 1 0 1 0 1 0 1 0 1

 [1]  0  2  0  4  0  6  0  8  0 10

Vector logic được xét như giá trị TRUE = 1, FALSE = 0, do đó nó cũng có thể được tính toán như những con số

In [348]:
logv = c(TRUE, FALSE, T, F, NA)

logv

str(logv)

[1]  TRUE FALSE  TRUE FALSE    NA

 logi [1:5] TRUE FALSE TRUE FALSE NA

In [351]:
logv + 1

[1]  2  1  2  1 NA

In [349]:
vi_2

logv * vi_2

[1] 1 2 3 4 5

[1]  1  0  3  0 NA

Lưu ý: khi trộn lẫn giá trị logical và numeric, kết quả là vector numeric, và giá trị TRUE/FALSE được chuyển thành 1/0

In [355]:
vmx = c(T, F,TRUE, FALSE, 1,0)

str(vmx)

vmx

 num [1:6] 1 0 1 0 1 0

[1] 1 0 1 0 1 0

Tuy nhiên nếu lẫn 1 kí tự vào, TRUE, FALSE sẽ được xét như character, lúc này không thể tính toán được nữa

In [476]:
vmx = c(T, F,TRUE, FALSE, 'A',1,0)

str(vmx)

vmx

vmx + 1

 chr [1:7] "TRUE" "FALSE" "TRUE" "FALSE" "A" "1" "0"

[1] "TRUE"  "FALSE" "TRUE"  "FALSE" "A"     "1"     "0"

ERROR: Error in vmx + 1: argument non numérique pour un opérateur binaire

## Đặt tên cho index

Theo mặc định, vector có hệ thống index là con số thứ tự, tuy nhiên ta có thể đặt cho mỗi phần tử một tên gọi có ý nghĩa, bằng hàm names(), sau đó sử dụng tên gọi này để trích xuất và chọn mẫu thay vì dùng số thứ tự:

In [231]:
vr_1 = rnorm(5)

names(vr_1)<-c('V1','V2','V3','V4','V5')

vr_1

        V1         V2         V3         V4         V5
-0.1952116 -0.3723742  2.5250643  1.5306944 -2.4147932

In [232]:
vr_1['V2']

        V2
-0.3723742

In [234]:
vr_1[c('V5','V3')]

       V5        V3
-2.414793  2.525064

Khi trích xuất với 1 index name không tồn tại, kết quả sẽ là NA

In [244]:
vr_1[c('V4','V1', 'V6')]

        V4         V1       <NA>
 1.5306944 -0.1952116         NA

In [243]:
vr_1[c(3,5,2)]

        V3         V5         V2
 2.5250643 -2.4147932 -0.3723742

Tuy nhiên, dấu loại trừ không hoạt động trên hệ thống name index này, ta phải quay lại dùng index số thứ tự:

In [240]:
vr_1[-c('V2')]

ERROR: Error in -c("V2"): argument incorrect pour un opérateur unitaire

In [242]:
vr_1[-2]

        V1         V3         V4         V5
-0.1952116  2.5250643  1.5306944 -2.4147932